/* header and menu */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/*Header and navbar*/
header {
  background-color: #2D0320;
  margin: 0;
  height: auto;
}

header h1 {
  font-family: 'Blastimo', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 72px;
  padding-top: 20px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
}

h3, h1 {
  text-align: center;
}
 
header, footer, .middle, .contact {
  color: #FFFFFF;
}
/* horizontal menu*/
nav ul {
  list-style-type: none;
  padding: 10px;
  text-align: left;
  background-color: #645E9D;
}

nav li {
  display: inline;
  padding: 14px, 16px;
  margin: 10px;
}

nav li a {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}


/*bio portrati*/
.group { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  flex: 1;

}

div #image {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
 
}
#portrait {
  border-radius: 50%;
  width: 300px;
  border: solid 10px #392B58;
}

/* Intro*/
article h2, p, form {
  text-align: center;
}

.intro {
  color: #2D0320;
}

.list-1 {
  width: 300px;
  margin: auto;
}


h2, nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* About */
h2{
  font-size: 30px;
}

h3 {
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: solid #fff;
}

article {
font-family: Arial, Helvetica, sans-serif;
}

.middle {
  background-color: #6C969D;
  margin: 0;
  padding: 20px;
}
.middle a, .contact a {
  color: #D3D3D3;
}


.middle a:visited {
  color: #99D5C9;
 }

 .middle .item-double p{
   text-align: left;
 }
/* DnD Generator */
.list-2 {
  width: 250px;
  margin: auto;
}
/*Contact */
.contact {
  background-color: #392B58;
  padding: 20px;
}

.contact a:visited {
  color: #645E9D;
}

.list-3 {
  width: 150px;
  margin: auto;
}
input{
  width: 300px;
}
textarea{
  width: 300px;
  height: 200px;
}

/*Projects*/

.projects img{
  border: solid #392B58 10px;
}

.projects {
  color: #2D0320;
}

.projects a {
  color: #645E9D;
}

.projects a:visited{
  color: #D3D3D3;
}

.projects img {
  width: 100%;
}

.center{
  text-align: center;
}

.projects .item p { 
  text-align: left;
}

/* Footer */
footer {
  padding-top: 20px;
  background-color: #392B58;
}


/*Media Query for Desktop*/
@media all and (min-width: 600px){
  /*navbar*/
  header{
    display:flex;
    justify-content: space-between;
    padding: 0;
  }
  header h1{
    padding: 20px 20px 20px 20px;
    font-size: 42px;
  }

  nav li a:hover {
    background-color: #392B58;
    padding: 10px;
  }

  /*Main Content*/

  .group{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .item-double{
    flex: 2;
  }

  /*Contact*/
  
  .align-left {
    text-align: left;
  }

  .contact form div {
    margin: 20px;
  }

  textarea{
    width: 100%;
  }

  /*Projects*/
  .projects div{
    margin: 10px;
  }

  .projects a:hover{
    color: #D3D3D3;
  }

  
  /*links*/
  .middle a:hover{
    color: #99D5C9;
  }

  .contact a:hover {
    color:#645E9D;
  }
}
