/*1076px * 664px is the media breakpoint*/
@media only screen and (max-width: 1076px) {
  div #image {
    margin: auto;
    width: 300px;
}
/* header and menu */

header {
  background-color: #2D0320;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 100px;
  color: #FFFFFF;
  height: auto;
}

h1 {
  font-family: 'Blastimo', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 72px;
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3, h1 {
  text-align: center;
}

nav ul {
 background-color: #645E9D;
}


header, footer, .middle, .contact {
  color: #FFFFFF;
}
/* horizontal menu*/
nav ul {
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: -100px;
  padding: 10px;
  text-align: left;
}

nav li {
  display: inline;
  padding: 14px, 16px;
  margin: 10px;
}

nav li a {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

nav li a:hover {
  background-color: #392B58;
  padding: 10px;
}

/*bio portrati*/

div #image {
  margin: auto;
  margin-top: -50px;
  width: 300px;
 
}
#portrait {
  border-radius: 50%;
  width: 300px;
  border: solid 10px #392B58;
}

/* Intro*/
article h2, p, form {
  text-align: center;
}

.intro {
  color: #2D0320;
}

.list-1 {
  width: 300px;
  margin: auto;
}


h2, nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* About */
article {
font-family: Arial, Helvetica, sans-serif;
}

.middle {
  background-color: #6C969D;
  margin: 0;
  padding: 20px;
}
.middle a, .contact a {
  color: #D3D3D3;
}

.middle a:hover{
  color: #99D5C9;
}

.middle a:visited {
  color: #99D5C9;
 }
/* DnD Generator */
.list-2 {
  width: 250px;
  margin: auto;
}
/*Contact */
.contact {
  background-color: #392B58;
  padding: 20px;
}
.contact a:hover {
  color:#645E9D;
}

.contact a:visited {
  color: #645E9D;
}

.list-3 {
  width: 150px;
  margin: auto;
}

/* Footer */
footer {
  padding-top: 20px;
  background-color: #392B58;
}
